@import '../sass/global';
@import '../sass/variable';



.nav {
    height: 15vh;
    width: 100vw !important;
    z-index: 10000000 !important;
    background-color: $primary;
    color: white;



    [class=swing] {
        position: fixed !important;
        left: -90% !important;
        top: -50% !important;
        // background-color: turquoise;
        width: fit-content;
        transform: scale(.5);
        // background-color: transparent;
        // display: none;
    }

    // background: rgba(255, 255, 255, 0.2);
    // // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    // border: 1px solid rgba(255, 255, 255, 0.3);

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;



    [class=container] {
        @include container;
        width: 100%;
        display: flex;
        justify-content: space-between;
        // background-color: red;
        // transform: translateX(-10%);

        [id=logo]{
            font-size: xx-large;
            font-family: "STRRETCH";
            font-family: "Boing";
        }

        [id=nav_links] {
            ul {
                margin: 0;
                display: flex;
                list-style-type: none;

                li {
                    margin-left: 2rem;

                    a {
                        text-decoration: none;
                        color: white;

                        &:hover {
                            cursor: pointer;
                            color: $secondary;
                            // background-color: red;
                        }
                    }

                }
            }
        }

        [id=hamburger] {
            display: none;

            [class=line] {
                width: 40px;
                height: 2px;
                background-color: white;
                margin: 5px;

                &:first-child,
                &:last-child {
                    width: 20px;
                    margin: auto;
                }
            }
        }
    }
}


@media only screen and (max-width: 800px) {


    .nav {
        // background-color: gray;

        [class=swing] {
            width: 0;
            height: 0;
            display: none !important;
        }

        [class=container] {
            // background-color: red;
            // width: 100vw !important;
            padding-top: 3vh;


            [id=hamburger] {
                display: block;
            }


            [id=nav_links] {
                display: none;
            }

            [class=active] {
                display: block;
                background-color: whitesmoke;
                padding: 1rem;
                height: fit-content;
                width: 80% !important;
                margin: 10vh 0 auto auto;
                // margin-top: 15vh;
                // margin: auto !important;
                border-radius: 10px;
                transform: translateX(-5%);
                position: fixed;

                // background: rgba(255, 255, 255, 0.2);
                // border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                // backdrop-filter: blur(5px);
                // -webkit-backdrop-filter: blur(5px);

                // box-shadow: 5px 4px 20px 0px grey;

                ul {
                    display: flex;
                    flex-direction: column;
                    padding-left: 0;
                    line-height: 3rem;

                    li {
                        a {
                            color: $primary;
                        }
                    }


                }

            }
        }
    }
}