html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: "SF Pro";
  font-size: 18px;
  overflow-x: hidden;
}


@font-face {
  font-family: "SF Pro";
  src: url('../assets/fonts/GraphikRegular.otf');
}

@font-face {
  font-family: "STRRETCH";
  src: url('../assets/fonts/Syncopate-Bold.ttf');
}

@font-face {
  font-family: "Bogart Italic";
  src: url('../assets/fonts/Bogart-Light-Italic-trial.ttf');
}

@font-face {
  font-family: "Boing";
  src: url('../assets/fonts/NaNJaune-MidiBold.woff2');
}

h1, h2{
  font-family: "Boing";
}

/* *{
  font-family: "SF Pro";
} */
